<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.batyanko.strokeratecoach">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission." />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BackupActivity"
            android:exported="false" />
        <activity
            android:name=".WaveActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpeedActivity"
            android:label="@string/speed_label"
            android:parentActivityName=".WaveActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.batyanko.strokeratecoach.WaveActivity" />
        </activity>
        <activity
            android:name=".EntryFormActivity"
            android:label="@string/entry_form_label"
            android:parentActivityName=".WaveActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.batyanko.strokeratecoach.WaveActivity" />
        </activity>

        <service
            android:name=".sync.BeeperService"
            android:exported="false" />

        <activity android:name=".SettingsActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".AboutActivity" />
    </application>

</manifest>